* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  background: #263039;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
button {
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}
li {
  list-style: none;
}
.header {
  background: #172027;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    background: #27313a;
    border: none;
    color: #fff;
    padding: 10px 20px;
  }
}
.section {
  display: flex;
  padding: 4px 0;
  column-gap: 10px;
  &-left {
    background: #526069;
    flex: 1;
    width: 70vw;
    overflow: auto;
    height: calc(100vh - 67px);
    padding: 30px;
    & .document-page {
      text-align: center;
    }
    & .document-controls {
      position: fixed;
      bottom: 20px;
      right: 430px;
    }
    & .button-handle {
      background: #172027;
      padding: 10px;
      border-radius: 20px;
      border: 2px solid #66737c;
      button {
        color: #fff;
        background: transparent;
        box-shadow: none;
        border: none;
        font-size: 23px;
        width: 100%;
      }
    }
  }
  &-right {
    width: 400px;
    background: #172027;
    overflow: auto;
    height: calc(100vh - 67px);
    display: flex;
    flex-flow: column;
    ul {
      flex: 1;
      padding: 0 20px;
      overflow: auto;
    }
  }
}
.card {
  background: #27313a;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 10px;
  position: relative;
  border: 2px solid transparent;
  &-left {
    column-gap: 10px;
  }
  &-right {
    & .dot {
      cursor: pointer;
      img {
        width: 5px;
      }
    }
    input {
      align-self: baseline;
      width: 20px;
      height: 20px;
      margin-right: 20px;
    }
  }
  &-initial {
    background: #553038;
    border-left: 4px solid #eb0c29;
    border-radius: 4px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
  }
  &-name {
    margin-top: 10px;
    span {
      width: 100%;
      display: inline-block;
      font-style: italic;
    }
  }
}

.flex {
  display: flex;
}

.fields {
  &-name {
    margin-bottom: 20px;
  }
  &-list {
    span {
      padding: 10px 20px;
      &:first-child {
        color: #6baaef;
        border-bottom: 3px solid #6baaef;
      }
    }
  }
  &-top {
    padding: 20px;
  }
  &-bottom {
    padding: 20px;
    justify-content: space-between;
    border-top: 2px solid #4d5760;
    button {
      background: #27313a;
      border: none;
      color: #fff;
      padding: 10px 20px;
    }
  }
}
.light-mode {
  background-color: #c3c4c4;
  color: black;

  .section-right,
  .header {
    background: #fcfcfc;
  }
  .card {
    background: #c3c4c4;
  }
  .fields-bottom button,
  .button-handle,
  .header button {
    color: #000;
    background: #c3c4c4;
  }
  .button-handle button {
    color: #000;
  }
}

.highlight {
  // Example highlight styles
  border: 2px solid yellow;
  background: rgba(255, 255, 0, 0.2) !important;
}
.dropdown-menu {
  position: absolute;
  right: 3px;
  bottom: 7px;
  button {
    background: #b0302b;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  padding: 30px;
  background-color: #263039;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-button {
    display: flex;
    justify-content: space-between;
  }
  p {
    margin-bottom: 30px;
    color: #fff;
  }
}

.modal button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.modal button:first-child {
  margin-right: 10px;
}

.modal button:hover {
  background-color: #0056b3;
}
